<header id="header" class="fixed-top header-inner-pages">
    <div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="index.html">Miara-miasa</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->


        <a href="{{path('app.signin')}}" class="get-started-btn scrollto">Se connecter</a>
        <a href="{{path('app.signin')}}" class="get-started-btn scrollto">S'inscrire</a>
        </div>
    </div>

    </div>
</header><!-- End Header -->
        